*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden; 
}


body{
    background-color: #ebe7e0;

}

.logo{
    height:100%;
    position: relative;
    left: 34%;
}
.logo img{
    width: 120px;
}

.header{
    background-color: #a92626;
    padding: 18px 10px;
    height: 80PX;
    width: 100%;
    z-index: 10;
}
.header #menu-toggler{
    display: none;
}
.header .fa-basket-shopping{
    transform: scale(1.5);
    position: absolute;
    right: 30px;top: 40px;
    
}
.shopcar{
    transition: 0.6s ease-in;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    display: block;
    background-color: #441010;
    opacity: 0.8;
    width: 80%;
    height: 100vh;
    margin-top: 79px;
    /* margin-left: 95px; */
}
/* .total{


} */


#menu-toggler:checked ~ .shopcar{ 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}






.menu1{
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-top: 80px;
}


.item-box{
    /* background-color: #fff; */
    border-bottom: #441010 dotted 4px;
    height: 275px;
    width: 180px;
    margin: 15px auto;
}

.menu1 .txt{
padding-left: 20px;
}

.menu1 .pic img{
    width: 98%;
    margin:0px 5px;
    filter: drop-shadow( -7px 6px 1px rgb(58, 54, 46,0.5));
}

.menu1 button{
    background-color:  #bac0ae;
    margin-left: 130px;
    border-radius: 0 50% 50% 50%;
    width: 50px;
    height: 50px;
    border: none;
    transform: translate(-15px,-70px);
    transition: all 0.3s ease;
}

.menu1 button:active{
    background-color:  #9ea494;
    transform: translate(-20px,-75px);
}
