*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    
}
.logo{
    height:100%;
    position: relative;
    left: 32%;
}
.logo img{
    width: 120px;
}

.header{
    position: fixed;
    background-color: #a92626;
    padding: 18px 10px;
    height: 80PX;
    width: 100%;
    
    
}
.header #menu-toggler{
    display: none;
}
.header .fa-bars{
    transform: scale(1.5);
    color: #070707;
    position: absolute;
    right: 30px;top: 40px;
    
}


nav{
    transition: 0.4s ease-in;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
}
nav hr{
    margin-top: 20px;
}
.navbar{

    /* margin-top: 0PX; */
    display: block;
    background-color: #831d1d;
    margin-left: -10px;
    height: 40vh;
    padding-top: 20px;
    width: 106%;
}
nav a{

    text-decoration:none;
    color: #ffffff;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 40px;
    
}
#menu-toggler:checked ~ .navbar{ 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}




